body {
    background-color: #e6e6e6;
}

.inner-container {
    padding: 16px;
}

/* Typography */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 24px;
}
/* Header */

header {
    background-color: white;
    box-shadow: 2px 2px 3px #cbcbd1;
    color: #c14745;
    margin-bottom: 24px;
}

/* Main */

.col img {
    /* Images are on the left side and text is on the right. The images take up 40% and the text 60% */
    width: 40%;
    margin-right: 16px;
}

.col {
    background-color: white;
    border: 1px solid #4a5568;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 24px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


@media only screen and (min-width: 975px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    /* add 2% spacing between the column */
    .col {
        width: calc(96% / 3);
    }

    .row {
        flex-direction: column;
    }

    .col img {
        margin-bottom: 24px;
        width: 100%;
        display: block;
    }
}

